{% extends 'base.html.twig' %}

{% block body %}
    {% include 'default/partials/nav.html.twig' %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">User Locations</h1>
            <p class="lead text-muted">Enter your username and location to add yourself to our map!</p>
            <p class="text-center">
            <form class="form">
                <div class="input-group">
                    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0 has-danger" id="usernameInput" placeholder="Username">
                    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="locationInput" placeholder="Location">
                    <button id="submit" type="submit" class="btn btn-primary">Add me</button>
                    <input type="hidden" id="location_lat">
                    <input type="hidden" id="location_lon">
                </div>
            </form>
            </p>
            <div id="errors" class="text-danger text-center"></div>
        </div>
    </section>
    <div class="map-section text-muted">
        <div class="container">
            <div class="row">
                <div class="card">
                    <div id="map" style="width:100%; height:650px"></div>
                </div>
            </div>
        </div>
    </div>
    {% include 'default/partials/footer.html.twig' %}
    {% endblock %}

    {% block javascript %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqACoKPqvIrZ1EQp-njyExDg0oYaG_64o&libraries=places"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 2,
                scrollwheel: false,
                center: new google.maps.LatLng(53.3811, 1.4701)
            });
            $.get("/users", function (data) {
                $.each(data, function (index, value) {
                    new google.maps.Marker({
                        position: new google.maps.LatLng(value.lat, value.lon),
                        map: map,
                        title: value.username
                    });
                });
            });

            var locationInput = document.getElementById('locationInput');
            var locationAutocomplete = new google.maps.places.Autocomplete(locationInput);

            locationAutocomplete.addListener('place_changed', function() {

            var location = locationAutocomplete.getPlace();

            document.getElementById('location_lat').value = location.geometry.location.lat();
            document.getElementById('location_lon').value = location.geometry.location.lng();
            });

            $('form').submit(function(e) {
                e.preventDefault();
                var username = $('#usernameInput').val();
                var lat =  $('#location_lat').val();
                var lon = $('#location_lon').val();

                var errors = [];

                if (!username) {
                    errors.push('<p><i class="fa fa-exclamation-circle"></i>&nbsp;Please enter a username</p>');
                }

                if (!lat || !lon) {
                    errors.push('<p><i class="fa fa-exclamation-circle"></i>&nbsp;Please select a location from the list</p>');
                }

                $('#errors').html(errors);

                if (username && lat && lon) {
                    $.ajax({
                        type: 'post',
                        url: '/addLocation',
                        data: {
                            username: username,
                            lat: lat,
                            lon: lon
                        },
                        dataType: 'json'
                    }).done(function(data) {
                        new google.maps.Marker({
                            position: new google.maps.LatLng(data.lat, data.lon),
                            map: map,
                            title: username
                        });
                        $("form")[0].reset();
                        $("#location_lat").val('');
                        $("#location_lon").val('');
                    }).fail(function(data) {
                        $('#errors').html('<i class="fa fa-exclamation-circle"></i>&nbsp;' + data.responseJSON.message)
                    })
                }
            })
        });
    </script>
{% endblock %}