<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
        <p>&copy; Career Change Coders</p>
        <p>If you find a mistake or can improve our code, please feel free to submit a PR on <a href="">Github.</a></p>
    </div>
</footer>