<div class="collapse bg-inverse" id="navbarHeader">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 py-4">
                <h4 class="text-white">About</h4>
                <p class="text-muted">Little project to show the location of Career Change Coders around the world!<br>
                    Built with Symfony, Javascript and Boostrap. Want to contribute?...submit a PR on GitHub :-)</p>
            </div>
            <div class="col-sm-4 py-4">
                <h4 class="text-white">Contact</h4>
                <ul class="list-unstyled">
                    <li><a href="https://medium.com/career-change-coder" class="text-white">Read on Medium</a></li>
                    <li><a href="https://careerchangecoders.herokuapp.com/" class="text-white">Join on Slack</a></li>
                    <li><a href="https://www.facebook.com/groups/1808933362696140/" class="text-white">Like on Facebook</a></li>
                    <li><a href="#" class="text-white">Github</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="navbar navbar-inverse bg-inverse">
    <div class="container d-flex justify-content-between">
        <a href="/" class="navbar-brand">Career Change Coders</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>